@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    height: 100vh;
    margin:0;
    color: #fff;
    font-size: 1.3125rem;
}

.hero {
    background-color: #23424A;
    padding: 100px 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: #38CFD9;
    color: #23424A;
    text-transform: uppercase;
    padding: 0.75em 2em;
    margin: 2em 0;
    border-radius: 2em;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}

.hero__text {
    width: 60%;
}

.hero h1 {
    font-size: 3rem;
}
